.button {
    -fx-background-color: rgba(183, 66, 0, 0.8);
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-padding: 10 20 10 20;
}

.button:hover{
    -fx-background-color: rgba(183, 66, 0, 0.9);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#roomIdLabel{
    -fx-background-color: rgba(183, 66, 0, 0.8);
    -fx-font-size: 30;
}

#resultLabel{
    -fx-background-color: rgba(183, 66, 0, 0.8);
    -fx-font-size: 30;
}
